<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="/css/main_style.css" rel="stylesheet"/>
</head>
<body>

    <header id="header_nav">
        <nav id="navigation_bar">
            <ul>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Add Product</a></li>
                <li><a href="#">Admin Products</a></li>
            </ul>
        </nav>
    </header>
    
    <form id="add_product_form" method="POST" action="/add-product">
        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="price">price</label>
            <input type="number" id="price" name="price" required>
        </div>
        <div>
            <label for="description">description</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="imageUrl">imageUrl</label>
            <input type="text" id="imageUrl" name="imageUrl" required>
        </div>

        <button id="add_btn">Add</button>
    </form>

    <script>
        const routes = ['/', '/products', '/cart', '/add-product', '/admin-products']
        let elements = document.querySelectorAll('#navigation_bar ul li a')
        const nav_a = document.querySelectorAll('#navigation_bar ul li')

        let basePath = window.location.pathname.includes('/admin') && window.location.pathname !== '/admin-products' ? '/admin' : ''
        
        let path = window.location.pathname.replace(/\/$/, '')

        for (let x = 0; x < routes.length; x++) {
            elements[x].href = basePath + routes[x]
            let normalizedRoute = (basePath + routes[x]).replace(/\/$/, '')
            if (normalizedRoute === path) {
                nav_a[x].classList.add('active_nav')
            }  else {
                nav_a[x].classList.remove('active_nav')
            }
        }


    </script>
</body>
</html>