<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link href="/css/main_style.css" rel="stylesheet"/>
</head>
<body>

    <header id="header_nav">
        <nav id="navigation_bar">
            <ul>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Cart</a></li>
                <li><a href="#">Add Product</a></li>
                <li><a href="#">Admin Products</a></li>
            </ul>
        </nav>
    </header>

    <section class="product_container"></section>
    
    

    <script>
        const routes = ['/shop', '/products', '/cart', '/add-product', '/admin-products']
        let elements = document.querySelectorAll('#navigation_bar ul li a')
        const nav_a = document.querySelectorAll('#navigation_bar ul li')

        let basePath = window.location.pathname.includes('/admin') && window.location.pathname !== '/admin-products' ? '/admin' : ''
        
        let path = window.location.pathname.replace(/\/$/, '')

        for (let x = 0; x < routes.length; x++) {
            elements[x].href = basePath + routes[x]
            let normalizedRoute = (basePath + routes[x]).replace(/\/$/, '')
            if (normalizedRoute === path) {
                nav_a[x].classList.add('active_nav')
            }  else {
                nav_a[x].classList.remove('active_nav')
            }
        }



        const product_container = document.querySelector('.product_container')
        let storage_list = JSON.parse(sessionStorage.getItem("cart"))
        
        storage_list.forEach(pr => {
            product_container.innerHTML += `
            <div class="product" style="min-width: 200px">
                <p>${pr.title}</p>
                <p>${pr.description}</p>
                <p>${pr.price}</p>
                <p>Products Count:</p>
                <button id="remove_from_cart">Remove</button>
            </div>
            `
        })

        document.querySelectorAll('#remove_from_cart').forEach(el => {
            const all_buttons_parents = el.closest('.product')
            const title_all_buttons_parent = all_buttons_parents.querySelector('p:nth-child(1)').textContent
            const products_left_all_buttons_parent = all_buttons_parents.querySelector('p:nth-child(4)')
            const productInCart = storage_list.find(item => item.title === title_all_buttons_parent);
            if (productInCart) {
                products_left_all_buttons_parent.innerHTML = `Products Count: ${productInCart.quantity}`;
            } else {
                products_left_all_buttons_parent.innerHTML = 'Products Count:';
            }

            el.addEventListener('click', (e) => {
                const productElement = e.target.closest('.product')
                const title = productElement.querySelector('p:nth-child(1)').textContent
                const products_left = productElement.querySelector('p:nth-child(4)')
                const existingProduct = storage_list.find(product => product.title === title)

                if (existingProduct) {
                    existingProduct.quantity -= 1
                    products_left.innerHTML = `Products Count: ${existingProduct.quantity}`

                    if (existingProduct.quantity <= 0) {
                        storage_list = storage_list.filter(p => p.title !== title)
                        productElement.remove()
                    }

                    sessionStorage.setItem("cart", JSON.stringify(storage_list))

                }
            })
        })

    </script>
</body>
</html>