<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <div class="container" id="editInput">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">

                    <div id="errorContainer"></div>
        
    
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Task" id="task" type="text" name="task">
                          <label for="task">Edit task</label>
                        
                        </div>
                    </div>
                    <a id="updateBtn" class="btn">Update task</a>
                    <a href="/" class="btn">Cancel</a>
                    </form>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
        </div>
                  
      </div>

      <script>
        const updateBtn = document.querySelector('#updateBtn')
        updateBtn.addEventListener('click', () => {
            const currentUrl = window.location.href.split('/')
            const id = currentUrl[currentUrl.length - 1]
            let inp = document.querySelector('#task').value
            fetch(`insert?id=${id}&tasktext=${inp}`)
            .then(data => data.json())
            .then(data =>{
                
                if (!data){
                    let errorT = document.querySelector('#errorContainer')
                    errorT.innerHTML = `
                        <div class="row teal lighten-4">
                          <div class="col s12">
                            <p class="center-align" id="errorT">
                              Please insert data
                            </p>
                          </div>
                        </div>
                    
                    `
                    //errorT.innerText = 'Please insert data'
                }  else{
                    window.location.replace('/') 
                } 
                
            })
        })
      </script>
</body>
</html>