<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="container">
        <!-- Page Content goes here -->
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  
                  <% if (error !== null) { %>
                  <div class="row teal lighten-4">
                    <div class="col s12">
                      <p class="center-align">
                        <%= error %>
                      </p>
                    </div>
                  </div>
                  <% } %>

                  <span class="card-title">Todo list</span>

                  <div class="row">
                    <form class="col s12" method="post" actions="/">
                      <div class="row">
                        <div class="input-field col s12">
                          <input placeholder="Task" id="task" type="text" name="task">
                          <label for="task">Insert task</label>
                        
                        </div>
                    </div>
                    <button class="btn" type="submit">Add task</button>
                    </form>

              </div>
            </div>
            
            <div class="card-action">
                <ul class="collection">
                    
                    <% tasks.forEach(task => { %>
                        <li class="collection-item"><%= task.task %>
                        <a href="delete-task/<%= task.id %>" class="secondary-content">
                          <i class="material-icons">delete</i>
                        </a>
                        </li>
                    <% }) %>

                </ul>

                <a href="delete-tasks/" class="btn">Clear all</a>

            </div>

          </div>
        </div>
    </div>

    </div>
    
</body>
</html>